<div class="container ">
  <div class="row footer">
    <div class="col-lg-4 col-md-12 footer-info-block">
      <div class="footer-logo"> <img src="assets/img/logo-footer.png" alt=""> </div>
      <div class="footer-info">We’re designers, engineers and strategists. <br>
        We design digital products.
      </div>
      <div class="footer-soc">
        <div class="template-demo">
          <button type="button" class="btn btn-social-icon btn-facebook btn-rounded"><i class="fab fa-facebook-f"></i></button>
          <button type="button" class="btn btn-social-icon btn-twitter btn-rounded"><i class="fab fa-instagram"></i></button>
          <button type="button" class="btn btn-social-icon btn-instagram btn-rounded"><i class="fab fa-instagram"></i></button>
        </div>

      </div>
    </div>

    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
      <div class="footer-title">About</div>
      <div class="footer-item">
        <ul>
          <li> <a href="#" class="foot-nav-link" >Services</a> </li>
          <li> <a href="#" class="foot-nav-link" >Portfolio</a> </li>
          <li> <a href="#" class="foot-nav-link" >About</a> </li>
          <li> <a href="#" class="foot-nav-link" >Blog</a> </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
      <div class="footer-title">Products</div>
      <div class="footer-item">
        <ul>
          <li> <a href="#" class="foot-nav-link" >Platform</a> </li>
          <li> <a href="#" class="foot-nav-link" >Customers</a> </li>
          <li> <a href="#" class="foot-nav-link" >Products</a> </li>
          <li> <a href="#" class="foot-nav-link" >Pricing</a> </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
      <div class="footer-title">Resources</div>
      <div class="footer-item">
        <ul>
          <li> <a href="#" class="foot-nav-link" >Training</a> </li>
          <li> <a href="#" class="foot-nav-link" >Marketplace</a> </li>
          <li> <a href="#" class="foot-nav-link" >Experts</a> </li>
          <li> <a href="#" class="foot-nav-link" >Guides</a> </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
      <div class="footer-title">Offices</div>
      <div class="footer-item">
        <div class="footer-info-office">New York. 112 W 34th St, Manhattan. USA.</div>
        <div class="footer-info-number">(1) 212-946-2707</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row coopyrite">
    <div class="col-lg-6 left">©2019 Prelude by Viworx-Co. All Rights Reserved.</div>
    <div class="col-lg-6 right"> <a href="#">Terms of use</a> | <a href="#">Privacy policy</a></div>
  </div>
</div>
