<div class="container process-work">
  <div class="row">
    <div class="col-lg-10 quickly-title m-auto">How we design digital products</div>
    <div class="col-lg-7 process-sub-title m-auto">We specialize in understanding users and designing digital products
      they love. How do we know? Because we ask them.</div>
  </div>
  <div class="row">
    <div class="col-lg-4 process-work-cart">
      <img src="../../assets/img/icons/6.png" alt="">
      <div class="name-block">1. Define the Audience</div>
      <div class="info-block">
        Great businesses are built on great experiences. We make those experiences happen.
      </div>
      <hr/>
    </div>
    <div class="col-lg-4 process-work-cart">
      <img src="../../assets/img/icons/7.png" alt="">
      <div class="name-block">2. Prototype & Test</div>
      <div class="info-block">
        Great businesses are built on great experiences. We make those experiences happen.
      </div>
      <hr/>
    </div>
    <div class="col-lg-4 process-work-cart">
      <img src="../../assets/img/icons/8.png" alt="">
      <div class="name-block">3. Detail & Present Findings</div>
      <div class="info-block">
        Great businesses are built on great experiences. We make those experiences happen.
      </div>
      <hr/>
    </div>
  </div>
</div>
