<div class="container process-work">
  <div class="row">
    <div class="col-lg-10 quickly-title m-auto">
      How we design digital products
    </div>
    <div class="col-lg-7 process-sub-title m-auto">
      We specialize in understanding users and designing digital products they
      love. How do we know? Because we ask them.
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 process-work-cart" *ngFor="let product of products">
      <img src="{{ product.img }}" alt="" />
      <div class="name-block">{{ product.title }}</div>
      <div class="info-block">
        {{ product.subtitle }}
      </div>
      <hr />
    </div>
  </div>
</div>
