<div class="container-fluid specialize">
  <div class="row ">
    <div class="col-lg-7 specialize-left"> <img src="../../assets/img/specialize_bg.png" alt=""> </div>
    <div class="col-lg-5 block-right ">
      <div class="up-title">We are a digital agency founded in NYC</div>
      <div class="main-title"><span>We specialize in</span> building brands</div>
      <div class="detail">
        <div class="icon_block"> <img src="../../assets/img/icons/4.png" alt=""> </div>
        <div class="info_block">
          <div class="name-block">We treat branding, design & marketing</div>
          <div class="info-block">
            We are an independent strategic creative agency with technology at our core.
          </div>
        </div>
      </div>
      <div class="detail pt-2">
        <div class="icon_block"> <img src="../../assets/img/icons/5.png" alt=""> </div>
        <div class="info_block">
          <div class="name-block">We treat branding, design & marketing</div>
          <div class="info-block">
            We are an independent strategic creative agency with technology at our core.
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
