<div class="second container " id="second" >
  <div class="row ">
    <div class="col-lg-5 block-left ">
      <div class="up-title">We design digital products & branded experiences</div>
      <div class="main-title"><span>Building brands</span> <br>& Digital experiences</div>
      <div class="sub-title">We help in-house teams make better digital products with design systems.</div>
      <div class="link-more"><a href="#" class="btn-theme " > Learn More </a></div>
    </div>
    <div class="col-lg-7 second-block-right"> <img src="assets/img/second-right.jpg" alt=""> </div>
  </div>
</div>
