<div class="container-fluid tabs">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="tabs-title">Branding & Marketing — FAQs</div>
        <div class="tab-item">
          <mat-tab-group>
            <mat-tab label="Branding & Marketing — FAQs"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </mat-tab>
            <mat-tab label="Branding & Marketing — FAQs"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="col-lg-6 right-tabs"> <img src="../../assets/img/acc1.png" alt=""> </div>
    </div>
  </div>
</div>
