<div class="container-fluid tabs">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="tabs-title">Branding & Marketing — FAQs</div>
        <div class="tab-item">
          <div class="accord-item">
            <div class="accord-item--inner">
              <div class="question">
                What is social media marketing?
              </div>
              <div class="answer">
                <p>It’s the implementation of marketing and advertising into social media communities. Every business can greatly benefit from social media marketing.</p>
              </div>
            </div>
            <button class="indicator">
              <span class="indi--top"></span>
              <span class="indi--bot"></span>
            </button>
          </div>
        </div>
        <div class="tab-item">
          <div class="accord-item">
            <div class="accord-item--inner">
              <div class="question">
                What is the benefit of branding?
              </div>
              <div class="answer">
                <p>It’s the implementation of marketing and advertising into social media communities. Every business can greatly benefit from social media marketing.</p>
              </div>
            </div>
            <button class="indicator">
              <span class="indi--top"></span>
              <span class="indi--bot"></span>
            </button>
          </div>
        </div>
        <div class="tab-item">
          <div class="accord-item">
            <div class="accord-item--inner">
              <div class="question">
                How to create a digital marketing strategy?
              </div>
              <div class="answer">
                <p>It’s the implementation of marketing and advertising into social media communities. Every business can greatly benefit from social media marketing.</p>
              </div>
            </div>
            <button class="indicator">
              <span class="indi--top"></span>
              <span class="indi--bot"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-7 right-tabs"> <img src="../../assets/img/acc1.png" alt=""> </div>
    </div>
  </div>
</div>
