.banner {
  background-image: url('../../assets/img/about-us-bg.jpg');
  padding: 150px 0;
  background-repeat: no-repeat;

}

.banner .row {
  display: flex;
  align-items: center;
}
.info-block-banner{
  font-size: 16px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.main-title-banner {
  font-size: 52px;
  color: #fff;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 20px;
}
