<div class="container-fluid banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="main-title-banner">A digital product agency helping startups & big companies</div>
        <div class="info-block-banner">
          Prelude exists to help companies inspire, adapt and take advantage of change.
          We orchestrate people, systems, processes and technology to work together
          and better our clients’ businesses.
        </div>
      </div>
      <div class="col-lg-4"><a href="#" class="btn-theme " > Get Started </a></div>
    </div>
  </div>
</div>
