.filter {
  margin-top: 140px;
}

.filter-title {
  font-size: 52px;
  font-weight: 300;
  line-height: 65px;
  color: #39374d;
}
.filter-title span {
  font-weight: 500;
}

.filter-btns ul li {
  display: inline;
  text-transform: uppercase;
  margin: 0 15px;
  color: #002e5b;
  font-size: 14px;
  cursor: pointer;
}

.filter-btns {
  margin-top: 50px;
}




.cart-name {
  width: 90%;
  height: 85px;
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 5px;
  font-size: 22px;
  color: #39374d;
  padding: 20px 25px;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 10px 25px -10px #ccc;
  position: relative;
  bottom: 40px;
  margin: auto;
  text-decoration: none;
}


.filter-cart:hover .cart-name {
  color: #ff3366;
  text-decoration: none;
  bottom: 110px;

}

.filter-cart:hover .cart-name i {
  color:#8ed4ea;
}

.cart-name i {
  font-size: 18px;
  position: relative;
  top: 60%;
  color: #ccc;
  left: 40%;
  transition: 0.3s ease-in-out;
}


.filter-cart {
  width: 100%;
  height: 440px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 70px;

}
.filter-cart img {
  width: 100%;
  border-radius: 5px;
}

.filter-cart:hover .cart-name {
  color: #ff3366;
  text-decoration: none;
  bottom: 110px;

}


.firtst-cart {
  background-image: url('src/assets/img/gallery-about-us-5.jpg');
  background-size: cover;
}
.second-cart {
  background-image: url('src/assets/img/gallery-about-us-6.jpg');
  background-size: cover;
}
.third-cart {
  background-image: url('src/assets/img/gallery-about-us-7.jpg');
  background-size: cover;
}
.fourth-cart {
  background-image: url('src/assets/img/gallery-about-us-8.jpg');
  background-size: cover;
}


@media screen and (max-width: 1024px) {
  .filter-cart {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .filter-cart {
    margin-bottom: 170px;
  }
}
@media screen and (max-width: 414px) {
  .filter-cart {
    margin-top: 0px;
    margin-bottom: 00px;
  }
  .cart-name i {
    left: 10%;
  }
}
