<div class="container-fluid subs-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 latest-news-title">
        Latest news
      </div>
    </div>
    <div class="row news-block">
      <div class="col-lg-4" *ngFor="let news of news">
        <div class="news-cart">
          <div class="news-title">
            {{ news.title }}
          </div>
          <div class="news-description">
            {{ news.subtitle }}
          </div>
          <div class="news-author">
            <div class="left">
              <img src="{{ news.img }}" alt="" />
            </div>
            <div class="right">
              <div class="author-name">{{ news.user }}</div>
              <div class="date-news">{{ news.date }}</div>
            </div>
          </div>
          <div class="arrow-news">
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row subscribe">
      <div class="col-lg-10 quickly-title m-auto">
        Don't miss the new designs
      </div>
      <div class="col-lg-7 process-sub-title m-auto">
        Subscribe to get the latest news and updates.<br />
        No obligations and we don't share your data with anyone.
      </div>
      <div class="col-lg-12">
        <form class="subscribe-form">
          <input type="text" placeholder="Enter your email address" /><i
            class="fas fa-paper-plane"
          ></i>
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>
