<div class="container-fluid quickly">
  <div class="row">
    <div class="col-lg-10 quickly-title m-auto">
      Design digital products more quickly
    </div>
    <div class="col-lg-5 quickly-sub-title m-auto">
      If you need help making one from scratch or evolving an existing one, we’d
      love to talk with you about how we can help.
    </div>
  </div>
  <div class="container">
    <div class="row quickly-blocks">
      <div class="block" *ngFor="let block of blocks">
        <div class="block-image"><img src="{{ block.img }}" /></div>
        <div class="name-block">{{ block.name }}</div>
        <div class="info-block">
          {{ block.info }}
        </div>
        <div class="arrow-right">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 more-quickly">
        <a href="#" class="view-all">View All</a>
      </div>
    </div>
  </div>
</div>
